/.idea/
/scrapers/.ipynb_checkpoints/
/scrapers/testing.ipynb
/scrapers/pdfs/
/scrapers/test_urls/

__pycache__
**/__pycache__/**
**/**/__pycache__
**/**/**/__pycache__

#.pyc
*.pt
*.pkl
.idea/
.vector_cache/

.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/**/.ipynb_checkpoints/
**/**/**/.ipynb_checkpoints/

PDFS/**
logs/