/.idea/

__pycache__
**/__pycache__/**
**/**/__pycache__
**/**/**/__pycache__

#.pyc
*.pt
*.pkl
.idea/
.vector_cache/

.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/**/.ipynb_checkpoints/
**/**/**/.ipynb_checkpoints/

PDFS/**
logs/
