clean-text[gpl]
spacy~=2.3.2
pybliometrics~=2.7.0
python-dateutil~=2.8.1
numpy~=1.19.1
matplotlib~=3.3.1
scikit-learn~=0.23.2
python==3.7
PyYAML~=5.1.2
pyzotero~=1.4.10
git+https://github.com/OrganicIrradiation/scholarly.git
tqdm~=4.49.0
requests~=2.24.0
lxml
bs4~=0.0.1
pdfminer
google-search-results

beautifulsoup4~=4.8.1
pandas~=1.1.2
pathlib~=1.0.1
wos~=0.2.5
pymed~=0.8.9
